<div class="container">
<div class="hero_container">
<h1 class="hero_headline">Mathematical challenge</h1>
<p class="hero_question">Are you ready for the math challenge?</p>
<button class="hero_button button">Let's go!</button>
</div>

<div class="challenge_container hidden">
<p class="challenge_question"></p>
<input autofocus class="challenge_answer" />
<button type="button" class="challenge_button button">Submit</button>
</div>

<div class="warning_container hidden">
  <p class="warning_title">Answer is not right. Please, try again!</p>
<button class="warning_button button">OK</button>
</div>
</div>